<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NServiceBus" publicKeyToken="9FC386479F8A226C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.0.1442" newVersion="2.5.0.1442"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
